<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <!-- Spring和mybatis的配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value> classpath:*-beans.xml </param-value>
  </context-param>

  <!-- 编码过滤器 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Spring监听器，加载上面的context-param -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 防止Spring内存溢出监听器 -->
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <!-- 添加定时器监听 -->
  <listener>
    <listener-class>com.cn.wubin.quartz.QuartzListener</listener-class>
  </listener>

  <!-- Spring MVC servlet -->
  <servlet>
    <servlet-name>SpringMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <!-- 此处可以可以配置成*.do，对应struts的后缀习惯,但是我自定义了一个httl-->
    <url-pattern>*.httl</url-pattern>
  </servlet-mapping>

  <!-- 如果某个会话在一定时间内未被访问，服务器可以抛弃它以节省内存,设置单个会话对象的超时值为30分钟 -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <!-- 指定欢迎文件页配置 -->
  <welcome-file-list>
    <welcome-file>/basejsp/index.jsp</welcome-file>
  </welcome-file-list>

  <!-- 当系统发生404错误时，跳转到错误处理页面NotFound.jsp -->
  <error-page>
    <error-code>404</error-code>
    <location>/basejsp/notFound.jsp</location>
  </error-page>

  <!-- 当系统发生java.lang.NullPointerException（即空指针异常）时，跳转到错误处理页面error.jsp -->
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/basejsp/error.jsp</location>
  </error-page>
</web-app>
